<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">

</head>

<body>
    {{>header}}
    <img src="./img/imgTest.JPG">
    <p>This site was created by Node.js course</p>
    {{>footer}}
</body>


</html>