<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">

</head>

<body>
    {{>header}}

    <p>Here you can find informations about {{topicOne}} or about {{topicTwo}}</p>
    {{>footer}}
</body>


</html>